@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --midnight: #0d1b2a;         /* first shade of midnight */
  --app-background: #1b263b;   /* second shade of midnight */
  --pastel-cream: #fffff0;     /* main pastel white */
  --pastel-charcoal: #2f2f2f;  /* soft black / very dark gray */
  --pastel-green: #d5f5e3;     /* main pastel green */
  --pastel-blue: #d0e8ff;      /* main pastel blue */
  --pastel-coral: #ffccbc;     /* main pastel red */
}

